body{
  background-color: #2F2E41;
  margin: 0;
}

.page{
  padding: 76px 108px 18px 89px;
}

h1{
  font-family: 'JetBrains Mono', monospace;
  font-size: 36px;
  line-height: 40px;
  
  margin-bottom: 59px;

  color: #FFFFFF;
}
p{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 28px;
  text-align: center;

  color: #C2C2C2;

}

span{
  color: #00BFA6;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 114px 0 84px;

}

a{
  color: #FFFFFF;
  text-decoration: none;

  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  line-height: 28px;
}

ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}
ul li {
  list-style: none;
}

main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 101px;

  padding: 0 105px 0 84px;
}

footer{
  position: absolute;
  color: #FFFFFF;
  left: 600px;
  bottom: 18px;
}

.line{
  border: 1px solid #00BFA6;
  height: 0px;
  width: 568px;
  margin: 157px auto 27px;
}

.cadeado{
  position: fixed;
  bottom: 15px;
  left: 10px;
}
